:host {
  display: block;
}

paper-item {
  padding-left: .5em;
  padding-right: .5em;
  font-size: 1.3rem;
}

core-icon {
  margin-right: .5em;
}

@for $i from 1 through 10 {
  paper-item[depth='#{$i}'] {
    padding-left: ($i + 1) * .5em;
  }
}

paper-item[inpath="true"] {
  font-weight: bold;
}

paper-item a {
  color: currentcolor;
  text-decoration: none;
}

// paper-item[current="true"] {
//   background-color: #eee;
// }

:host paper-item::shadow .button-content {
  padding: .6em .5em .6em 0;
}
